.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: black;
  margin: 0 5px 5px;
}

h1 {
  font-family: 'courier prime', sans-serif;
}

.correct {
  color: rgb(73, 251, 73);
}

.wrong {
  color: red;
  text-decoration: underline;
  text-underline-position: under;
}

.underlined-letter {
  text-decoration: underline;
  text-underline-position: under;
}
